@page
@model RealEstate_Tracker.Pages.Estates.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estate.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estate.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estate.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estate.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estate.Type_of_Estate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estate.Type_of_Estate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estate.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estate.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estate.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estate.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Estate.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
